.card_container {
  min-width: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card_title {
  font-size: 15px;
}

.card_create-time {
  font-size: 13px;
}

.card_avatar {
  background-size: cover;
}
